{% extends 'base.html' %}

{% block title %}O meni - Moj Portfolio{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8">
        <h1>About me</h1>
        <p class="lead">I am a passionate developer and spend most of my time writing code and learning new technologies. Programming is not just a job for me, but a sincere passion in which 
            i really enjoy it. When I'm not at the computer, I train in the gym, run, ride a bike and like to relax with movies and series, as well as spend quality time with my girlfriend. 
            I especially enjoy being in nature - walks, mountain climbing and hiking are my favorite way to recharge my batteries.</p>
        
        <h3 class="mt-4">Technologies I use:</h3>
        <div class="row mt-3">
            <div class="col-md-6">
                <ul class="list-unstyled">
                    <li><i class="fas fa-check text-success me-2"></i>Python</li>
                    <li><i class="fas fa-check text-success me-2"></i>Django & Django REST Framework</li>
                    <li><i class="fas fa-check text-success me-2"></i>PHP</li>
                    <li><i class="fas fa-check text-success me-2"></i>PostgreSQL / MySQL</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-unstyled">
                    <li><i class="fas fa-check text-success me-2"></i>HTML5, CSS3, JavaScript</li>
                    <li><i class="fas fa-check text-success me-2"></i>Bootstrap 5</li>
                    <li><i class="fas fa-check text-success me-2"></i>Linux</li>
                    <li><i class="fas fa-check text-success me-2"></i>Git & GitHub</li><li>
                </ul>
            </div>
        </div>
        
        <h3 class="mt-4">Work experience</h3>
        <p>I currently have no work experience, but I am constantly learning and improving my skills through personal and open-source projects.</p>
        <h3 class="mt-4">Education</h3>
        <p>I am currently a graduate student at the College of Electrical Engineering and Computer Science, majoring in New Computer Technology, and I am only a graduate thesis away from obtaining a diploma.</p>
        
        
        <a href="../../static/CV_Veljko_Jakovljevic.pdf" class="btn btn-primary mt-3" download>
            <i class="fas fa-download me-2"></i>Download my CV
        </a>
    </div>
</div>
{% endblock %}